<div class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="#">Sprites Loot</a>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">

        <!-- <li><a href="#/sloot-editor">Sloot Editor</a></li> -->

      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>

