<!-- Landing Page -->
<div id="head1" class="container-fluid" style="background-color:rgb(19, 122, 143);height:750px;background-image:url('/images/448b7e76.bgCity.png')">
  <div class="container" style="color:rgb(236, 236, 236)">

    <div class="row">
      <div class="col-md-12">
        <h1 id="header" style="font-weight:900;color:#E4E4D4">Sprites Loot Marketplace</h1>
        <p class="lead">Get high quality animated sprites for your mobile and web games</p>
      </div>
    </div>

    <form name="presignup" class="form-horizontal well col-xs-10 col-sm-5 col-md-5 col-lg-4" role="form">
      <div class="form-group col-md-12">
        <input id="txtEmail" name="txtEmail" required="" class="form-control" placeholder="Enter your email" type="email" ng-model="email" ng-focus="oneTimeCollapse()">
      </div>

      <div bs3collapse="" class="form-group col-md-12">
        <ul class="list-group">
          <li class="list-group-item">
            <checkedbtn btnclass="btn btn-default btn-block " btntext="I'm a game developer"></checkedbtn>
          </li>
          <li class="list-group-item">
            <p class="static-form-control" style="color:black">Preferred Frameworks</p>
            <checkedbtn ng-repeat="gf in gameFrameworks" btnstyle="margin:2px;" btntext="{{gf.name}}" btnclass="btn btn-primary btn-xs">
            </checkedbtn>
            <input type="text" class="form-control input-sm" ng-model="others" placeholder="Others">
          </li>
        </ul>
      </div> <!-- End Collapse Panel -->

      <div class="form-group col-md-12">
        <button type="button" class="btn btn-info btn-lg" ng-click="subscribe()" ng-disabled="presignup.txtEmail.$error.email">Subscribe</button>
      </div>

      <div class="form-group col-md-12">
        <div class="alert alert-danger" ng-show="showSubscribeError">{{subscribeAlertMsg}}</div>
      </div>

      <!-- Thank You message -->
      <script type="text/ng-template" id="thankyou.html">
         <div class="modal-header">
           <h3 style="color:rgb(19, 122, 143);">Awesome! Thanks</h3>
         </div>
         <div class="modal-body">
           <p class="lead">In the meantime, how about checking out Sloot Editor below.</p>
         </div>
      </script>

    </form> <!-- End Form -->

  </div> <!-- End Container -->
</div> <!-- End Fluid Container -->

<div ng-include="'views/landingPageSlootEditor.html'"></div>
<div ng-include="'views/landingPageFooter.html'"></div>