<!-- Landing Page -->
<div id="head1" class="container-fluid" style="background-color:rgb(19, 122, 143);height:750px;background-image:url('/images/448b7e76.bgCity.png')">
  <div class="container" style="color:rgb(236, 236, 236)">

    <div class="row">

      <!-- Section 1 -->
      <div class="col-lg-6">
        <div>
          <h1 id="header"><a href="#/" style="font-weight:900;color:#E4E4D4">Sprites Loot Marketplace</a></h1>
          <p class="lead">Get high quality animated sprites for your mobile and web games</p>
        </div>

        <div class="" ng-include="'views/landingPageHomeForm.html'"></div>
      </div>

      <div class="col-lg-6">
        <h2 style="color:#E4E4D4">How it works</h2>
        <iframe class="col-xs-12" width="560" height="315" src="//www.youtube.com/embed/nUIjLqqxTDE" frameborder="0" allowfullscreen=""></iframe>
      </div>

    </div>

  </div> <!-- End Container -->
</div> <!-- End Fluid Container -->

<div ng-include="'views/landingPageSlootEditor.html'"></div>
<div ng-include="'views/landingPageFooter.html'"></div>